article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: 1px dotted red;

}

body {
    background-color: rgba(255, 255, 255, 0.548);
}

header {
    border: 1px dotted red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: left;
}

p1 {
   float: right;
   width: 50%;
   font-size: 1.8em;
}

.artParagraph {
    margin-left: 5px;

}

.featuredImage {
    float: left;
    width: 48%;
    
}
.mission {
    margin-top: 75px;
}

.title {
    font-size: 1.5cm;
    flex: 100px;
    color: rgb(10, 10, 10);
}
.navbar {
    flex: 100px;
    padding 20px;
}   

.navbar a {
    clear: right
    text-decoration: none;
    margin-top: 0 10px;
    line-height: 70px;
}

label {
    margin-top: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    text-align: right;
    display: none;
    width: 26px;
    float: right;
    
}

#toggle {
    display: none;
}



  /* @media only screen and (max-width:1127px) {

    .navbar {
        margin-left: 45%;
    } */
  

    @media only screen and (max-width:620px) {
        article {
            display: flex;
            flex-direction: column;
        }
    
        label {
        display: block;
        cursor: pointer;
    }
    p1 {
        float: none;
        font-size: 15px;
    }
    /* .featuredImage {
        float: none;
    } */
    .navbar {
        text-align: center;
        width: 100%;
        display: none;
    }
    .navbar a {
        display: block;
        border: 1px solid red;
        margin: 0;
    }
    #toggle:checked + .navbar {
        display: block;
    }
   
  }

